<div id="<%= dom_id cart_item %>">
  <p>
    <strong>产品名:</strong>
    <%= cart_item.product_type.product.product_name %>
  </p>

  <p>
    <strong>数量:</strong>
    <%= cart_item.quantity %>
  </p>
</div>
