/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


body {
	// min-height: 100vh;
	// min-height: -webkit-fill-available;
	overflow: hidden;
	display: flex;
	height: 100vh;
	background-color: #e6e4e5;

}

#left-panel {
	width: 230px;
	height: 100%
}

#main-panel {
	overflow-y: auto;
	flex-grow: 1;
}

html {
	height: -webkit-fill-available;
}

main {
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
}


#login-container {
	width: 600px;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-fliter-bar {
	min-width: 200px;
}

.cart-form {
	// padding: 50px;
	min-width: 1000px;
	min-width: 1000px;
}

.cart-item-container {
	height: 150;
	margin: 30px;
	padding: 10px;
	display: flex;
	background-color: #f5f5f5;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 750px;
}


.cart-son {
	width: 200px;
	margin: 10px;
	display: flex;
	background-color: #f5f5f5;
}

.item-props {
	color: #9c9c9c
}



// orange #ff8400;

// orange #ff8400;
.item-link {
	border: 1px solid #f9fbfb;
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
	background-color: #f9fbfb;
	min-width: 300px;
	max-width: 400px;
}

.item-link:hover {
	border: 1px solid #ff8400;
	box-shadow: 0px 10px 20px -20px rgba(255, 132, 0, 0.961);

}


img {
	max-width: 100%;
	height: auto;
}

.product_pic {
	border-radius: 10px;
	height: 125px;
	min-width: 125px;
}

.product_pic_big {
	border-radius: 10px;
	// width: 80%;
	max-width: 400px;
	min-width: 400px;
}

.product_pic_small {
	border-radius: 10px;
	// width: 80%;
	max-width: 80px;
	min-width: 80px;
}


.nav-pills .nav-link.text-white.toolbar1:hover {
	background-color: #ff8400;
}

.table {
	border-radius: 10px;
	overflow: hidden;

	border-top: 1px solid #ddd;
	border-bottom: 5px solid #ddd;
	border-right: 5px solid #ddd;
	border-left: 5px solid #ddd;
	background-color: #f9fbfb;
	box-shadow: 0px 10px 20px -20px rgba(255, 132, 0, 0.961);
	border-collapse: collapse;
}


.table,
tr:not(:last-child) {
	border-bottom: 2px solid #ddd;
}

.content-container {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin: 50px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	background-color: #fff;

	min-width: 400px;
	// flex-grow: 1;
}


.content-container.user-content {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin: 50px;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
	background-color: #fff;

	bottom: 0;
	// flex-grow: 1;
}

td {
	vertical-align: middle;
}