<div class="container", style="magin:100px">
  <div class="row" style="justify-content: start;">
    <% @products.each do |product| %>
      <div class="col-xxl-4" style="padding: 5px 20px;">
        <div class="row" style="justify-content:center;">
          <%= link_to product, class: "col-12 item-link" do %>
            <div class="row" style="justify-content: start;">
              <div class= "col-4" style="padding:0px 0px 0px 10px">
                <img class="product_pic" src="https://gw.alicdn.com/bao/uploaded/i1/2508474491/O1CN014jg2pU1j2vcMOqiXq_!!2508474491-0-picasso.jpg_300x300q90.jpg_.webp" ></img>
            </div>
            <div class="col">
              <div class = "row" >
                <p style="font-family:Simsun;color:black;height:80px"><%= product.product_name[0...25] %></p>
              </div>
              <div class = "row " style="display:flex;">
                <p style="margin:0px">
                  <span style="font-size:12px;color:orange;" >￥</span><span style="font-size:20px;font-weight:bold;font-family:Microsoft Yahei;color:orange;" ><%= product.product_types.first.price %></span>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
<%= link_to "New product", new_product_path %>
