<div style="margin-top:20px;margin-bottom:30px">
  <h1 style="text-align:center">新建商品</h1>
</div>
<div class="container", style="display:flex; justify-content: center;">
  <%= render "form", product: @product %>
</div>
